# Student Loan Risk with Deep Learning

In [1]:
# Project 2 - AI BootCamp
#   Stuart A Bell

# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

2023-11-09 10:47:35.552258: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"
df = pd.read_csv(file_path)

# Review the DataFrame
df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
# Review the data types associated with the columns
df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [4]:
# Define the target set y using the credit_ranking column
y = df["credit_ranking"].values

# Display a sample of y
y[:5]

array([5, 5, 5, 6, 5])

In [5]:
# Print the range of the target values
df["credit_ranking"].value_counts()

credit_ranking
5    681
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

In [6]:
# Define features set X by selecting all columns but credit_ranking
X = df.drop(columns="credit_ranking").copy()

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [27]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [28]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train)

# Scale the training and test datasets
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [9]:
# Define the the number of inputs (features) to the model
number_inputs = 11

# Review the number of features
number_inputs

11

In [10]:
# Define the number of neurons in the output layer
number_outputs = 1

In [11]:
# Define the number of hidden nodes for the first hidden layer
# --- we try about half the number of input nodes - SB
number_hidden_L1 = 6

# Review the number hidden nodes in the first layer
number_hidden_L1

6

In [12]:
# Define the number of hidden nodes for the second hidden layer
# --- we try about half the number of first hidden layer - SB
number_hidden_L2 = 3

# Review the number hidden nodes in the second layer
number_hidden_L2

3

In [13]:
# Create the Sequential model instance
nn_loans = Sequential()

In [14]:
# Add the first hidden layer
nn_loans.add(Dense(units=number_hidden_L1, activation="relu", input_dim=number_inputs))

In [15]:
# Add the second hidden layer
nn_loans.add(Dense(units=number_hidden_L2, activation="relu"))

In [16]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn_loans.add(Dense(units=number_outputs, activation="linear"))

In [17]:
# Display the Sequential model summary
nn_loans.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 72

 dense_1 (Dense)             (None, 3)                 21

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 97 (388.00 Byte)
Trainable params: 97 (388.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [18]:
# Compile the Sequential model
nn_loans.compile(loss="mse", optimizer="adam", metrics=["mse"])

In [19]:
# Fit the model using 50 epochs and the training data
nn_loans.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 1s 3ms/step - loss: 29.6274 - mse: 29.6274
Epoch 2/50
38/38 [==============================] - 0s 2ms/step - loss: 26.2695 - mse: 26.2695
Epoch 3/50
38/38 [==============================] - 0s 4ms/step - loss: 22.9190 - mse: 22.9190
Epoch 4/50
38/38 [==============================] - 0s 2ms/step - loss: 19.5583 - mse: 19.5583
Epoch 5/50
38/38 [==============================] - 0s 3ms/step - loss: 16.4713 - mse: 16.4713
Epoch 6/50
38/38 [==============================] - 0s 2ms/step - loss: 13.8105 - mse: 13.8105
Epoch 7/50
38/38 [==============================] - 0s 2ms/step - loss: 11.4357 - mse: 11.4357
Epoch 8/50
38/38 [==============================] - 0s 2ms/step - loss: 9.1637 - mse: 9.1637
Epoch 9/50
38/38 [==============================] - 0s 2ms/step - loss: 6.9686 - mse: 6.9686
Epoch 10/50
38/38 [==============================] - 0s 2ms/step - loss: 5.0670 - mse: 5.0670
Epoch 11/50
38/38 [==============================] - 0s 3ms/step - loss: 3.7265 - mse: 3.7265
Epoch 12/50
38/38 [==============================] - 0s 2ms/step - loss: 2.9802 - mse: 2.9802
Epoch 13/50
38/38 [==============================] - 0s 2ms/step - loss: 2.5959 - mse: 2.5959
Epoch 14/50
38/38 [==============================] - 0s 3ms/step - loss: 2.3657 - mse: 2.3657
Epoch 15/50
38/38 [==============================] - 0s 2ms/step - loss: 2.2008 - mse: 2.2008
Epoch 16/50
38/38 [==============================] - 0s 3ms/step - loss: 2.0628 - mse: 2.0628
Epoch 17/50
38/38 [==============================] - 0s 2ms/step - loss: 1.9437 - mse: 1.9437
Epoch 18/50
38/38 [==============================] - 0s 2ms/step - loss: 1.8356 - mse: 1.8356
Epoch 19/50
38/38 [==============================] - 0s 2ms/step - loss: 1.7376 - mse: 1.7376
Epoch 20/50
38/38 [==============================] - 0s 3ms/step - loss: 1.6493 - mse: 1.6493
Epoch 21/50
38/38 [==============================] - 0s 2ms/step - loss: 1.5630 - mse: 1.5630
Epoch 22/50
38/38 [==============================] - 0s 2ms/step - loss: 1.4870 - mse: 1.4870
Epoch 23/50
38/38 [==============================] - 0s 2ms/step - loss: 1.4131 - mse: 1.4131
Epoch 24/50
38/38 [==============================] - 0s 2ms/step - loss: 1.3451 - mse: 1.3451
Epoch 25/50
38/38 [==============================] - 0s 2ms/step - loss: 1.2804 - mse: 1.2804
Epoch 26/50
38/38 [==============================] - 0s 2ms/step - loss: 1.2204 - mse: 1.2204
Epoch 27/50
38/38 [==============================] - 0s 2ms/step - loss: 1.1649 - mse: 1.1649
Epoch 28/50
38/38 [==============================] - 0s 2ms/step - loss: 1.1137 - mse: 1.1137
Epoch 29/50
38/38 [==============================] - 0s 2ms/step - loss: 1.0662 - mse: 1.0662
Epoch 30/50
38/38 [==============================] - 0s 2ms/step - loss: 1.0181 - mse: 1.0181
Epoch 31/50
38/38 [==============================] - 0s 2ms/step - loss: 0.9745 - mse: 0.9745
Epoch 32/50
38/38 [==============================] - 0s 2ms/step - loss: 0.9320 - mse: 0.9320
Epoch 33/50
38/38 [==============================] - 0s 2ms/step - loss: 0.8925 - mse: 0.8925
Epoch 34/50
38/38 [==============================] - 0s 2ms/step - loss: 0.8562 - mse: 0.8562
Epoch 35/50
38/38 [==============================] - 0s 2ms/step - loss: 0.8222 - mse: 0.8222
Epoch 36/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7897 - mse: 0.7897
Epoch 37/50
38/38 [==============================] - 0s 2ms/step - loss: 0.7596 - mse: 0.7596
Epoch 38/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7301 - mse: 0.7301
Epoch 39/50
38/38 [==============================] - 0s 2ms/step - loss: 0.7052 - mse: 0.7052
Epoch 40/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6810 - mse: 0.6810
Epoch 41/50
38/38 [==============================] - 0s 2ms/step - loss: 0.6584 - mse: 0.6584
Epoch 42/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6371 - mse: 0.6371
Epoch 43/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6166 - mse: 0.6166
Epoch 44/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5991 - mse: 0.5991
Epoch 45/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5846 - mse: 0.5846
Epoch 46/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5684 - mse: 0.5684
Epoch 47/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5543 - mse: 0.5543
Epoch 48/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5450 - mse: 0.5450
Epoch 49/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5330 - mse: 0.5330
Epoch 50/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5233 - mse: 0.5233

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [21]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_loans.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.5610 - mse: 0.5610 - 177ms/epoch - 14ms/step
Loss: 0.5610237121582031, Accuracy: 0.5610237121582031

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [22]:
# Set the model's file path
save_path = "saved_models/loans.h5"

# Export your model to a HDF5 file
nn_loans.save(save_path)

/home/stu/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [23]:
# Import the required libraries
import tensorflow as tf

# Set the model's file path
model_path = Path("saved_models/loans.h5")

# Load the model to a new object
nn_import = tf.keras.models.load_model(model_path)

### Step 2: Make predictions on the testing data.

In [34]:
# Make predictions on the testing data
predict_raw = nn_import.predict(X_test_scaled)
predict_rounded = predict_raw.round().astype("int32")

13/13 [==============================] - 0s 2ms/step

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [36]:
# Create a DataFrame to compare the predictions with the actual values
results = pd.DataFrame({"predict_raw": predict_raw.ravel(), "predict_rounded": predict_rounded.ravel(), "actual": y_test})

### Step 4: Display a sample of the DataFrame you created in step 3.

In [37]:
# Display sample data
results.head(10)

   predict_raw  predict_rounded  actual
0     5.241480                5       5
1     4.520663                5       6
2     5.930871                6       6
3     5.779655                6       6
4     6.707774                7       6
5     6.641325                7       6
6     6.257521                6       6
7     3.318416                3       5
8     6.832293                7       5
9     5.259543                5       5